{% extends '_base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
    <h1 class="text-center">About page</h1>
    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a aliquam nulla, a vehicula lectus. Integer at lobortis lacus. Nunc et quam gravida, venenatis ante nec, accumsan velit. Nulla et mattis erat, ac pharetra ante. Maecenas tincidunt ex arcu, vel ullamcorper nisl rhoncus ultricies. Curabitur tempor condimentum nisl, eget vulputate elit luctus vitae. Integer sapien nibh, facilisis et nulla dapibus, pretium imperdiet tellus. Curabitur non dictum diam. In vitae interdum ex. Curabitur magna tortor, aliquet at mollis non, tincidunt eget lorem. Quisque tempor felis ac nulla dapibus luctus. Pellentesque a leo imperdiet metus lobortis egestas. Nullam a dolor 
            eget metus cursus vehicula. Duis sed lorem sed augue accumsan suscipit.
            Phasellus sed laoreet ligula. Sed sit amet mi nec diam auctor gravida.
        </p>
        <p>
            Sed suscipit ultricies libero eu mattis. Maecenas feugiat, mauris vel interdum egestas, dui sapien scelerisque lorem, quis vestibulum leo dolor non risus. Fusce commodo vel tellus at fringilla. Morbi placerat enim et erat convallis, vitae blandit turpis ornare. Nulla libero lorem, consequat in dui id, lacinia aliquet lectus. Quisque ut est ipsum. Donec luctus sem metus, at fermentum eros vulputate vel. Donec vestibulum turpis sit amet pellentesque ultricies. Etiam lacus nisi, volutpat quis viverra eu, imperdiet eget augue. Cras eget bibendum augue. Mauris lobortis arcu at enim laoreet tincidunt. Nullam blandit, 
            tellus vel lacinia volutpat, lacus elit hendrerit sem, vitae dapibus erat
            justo ac tellus. Phasellus pellentesque, lacus ut sodales mattis, lacus odio 
            pretium lacus, quis blandit purus neque at eros. Praesent cursus a dui vitae
            cursus. Duis sit amet nisl sapien.
        </p>
    </div>
{% endblock content %}
