{% extends '_base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Home page</h1>
        <div>
            <img src="{% static 'images/clothes/jeans.png' %}" alt="" class="jeans">
            <img src="{% static 'images/clothes/jeans.png' %}" alt="" class="jeans">
            <img src="{% static 'images/clothes/jeans.png' %}" alt="" class="jeans">
            <img src="{% static 'images/clothes/jeans.png' %}" alt="" class="jeans">
            <img src="{% static 'images/clothes/jeans.png' %}" alt="" class="jeans">
            <img src="{% static 'images/clothes/jeans.png' %}" alt="" class="jeans">
            <img src="{% static 'images/clothes/jeans.png' %}" alt="" class="jeans">
        </div>
    </div>
{% endblock content%}